#container {
    width: 1274px;
}

#sidebar {
    float: left;
    width: 250px;
    overflow-x: hidden;
}

#graph {
    float: right;
    width: 1024px;
}


h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.2em; margin: .1em 0;
}

ul {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 0.9em;
}

.added {
    background-color: #cfc;
}

.undeclaredadded {
    background-color: #ccf;
}

.deleted {
    background-color: #fcc;
}

.undeclareddeleted {
    background-color: #ebe;
}

.common {
    background-color: #fff;
}

.undeclaredcommon {
    background-color: #fff;
}

img.added {
  height: 100dp;
  width: 100dp;
}

text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 14px;
}

.node rect {
    stroke: #333;
    fill: #fff;
}

.edgePath path {
    stroke: #333;
    fill: #333;
    stroke-width: 1.5px;
}

.node text {
    pointer-events: none;
}

/* This styles the title of the tooltip */
.tipsy .name {
    font-size: 1.5em;
    font-weight: bold;
    color: #60b1fc;
    margin: 0;
}

/* This styles the body of the tooltip */
.tipsy .description {
    font-size: 1.2em;
}