h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.2em; margin: .1em 0;
}

ul {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.added {
    background-color: #cfc;
}

.undeclaredadded {
    background-color: #ccf;
}

.deleted {
    background-color: #fcc;
}

.undeclareddeleted {
    background-color: #ebe;
}

.common {
    background-color: #fff;
}

.undeclaredcommon {
    background-color: #fff;
}

img.added {
{
  height: 100dp;
  width: 100dp;
}